.browsehappy {
    margin: .2em 0;
    background: #ccc;
    color: #000;
    padding: .2em 0;
}

.mask {
	.abs;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	transform: scale(0);
}

#logo {
	float: left;
	@media @max-md {
		float: none;
		.cb;
		.tc;
	}
}
