// =================
// Common Properties
// =================

// Misc
@speed:       200ms;       // Transition duration
@transition:   cubic-bezier(.55,0,.1,1); // Animation Style

// Colors
@gray:     #555;
@body-bg: #fff;       //** Background color for `<body>`
@text-color:   @gray;  //** Global text color
@hr-border:   @gray;   //** Color for <hr> elements
@placeholder-color: @text-color; //** Color for placeholder=""


@selection-text:         @text-color;      // Color of selected text
@selection-background:   @body-bg;  // Background of selected text

// Fonts
@font-size-base:          14px;
@font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;
@font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
@font-family-base:        @font-family-sans-serif;
